<div class="panel-group" id="search_result_panel">
  {% for objectArray in objectsArray %}
    {% set object = objectArray['object'] %}
    {% set nbResults = objectArray['nb_results'] %}

    {% if nbResults > 50 %}
      {% set nbResults = '50 +' %}
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#search_result_panel" href="#{{ object.technicalName }}">
            <span class="fa {{ object.icon }}"></span> 
            {{ object.displayName }} ({{ nbResults }}) {{ object.deletedAt is not null ? 'deleted'|trans }}
          </a>
        </h4>
      </div>
      <div id="{{ object.technicalName }}" class="panel-collapse collapse {% if loop.first %}in{% endif %}">
        <div class="panel-body">
          <div id="jstree_{{ object.technicalName }}"></div>
        </div>
      </div>
    </div>

  {% endfor %}
</div>