{% set panelClass = 'panel panel-default' %}

{% embed 'SLCoreBundle::sectionSkeleton.html.twig' with {
    'panelClass':panelClass,
    'object':object,
    'objects':objects,
    'entity':entity,
    'path':path,
    'currentVersion':currentVersion,
    } only
%}

    {% block section_heading %}
		<ul class="list-inline">
		    <li>
				<span class="fa {{ object.icon() }} fa-3x"></span> 
			</li>
			<li>
				<h3>{{ entity.displayName }}</h3>
			</li>
			<li class="btn-group pull-right">
				<a class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('front_edit', { 'id' : object.id, 'entity_id': entity.id }) }}" data-target="#">
		        <span class="fa fa-pencil"></span>  
			    </a>
			    <a class="btn btn-danger btn-xs" data-toggle="modal" href="{{ path('front_remove', { 'id' : object.id, 'entity_id': entity.id }) }}" data-target="#">
			        <span class="fa fa-times"></span>  
			    </a>
			    <a class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('front_version', { 'id' : object.id, 'entity_id': entity.id }) }}" data-target="#" modal-class="modal container fade">
			        <span class="fa fa-undo"></span>  
			    </a>
			</li>
		</ul>
		<ul class="list-inline">
			<li>
				<i><small>ID {{ entity.guid }}</small></i>
			</li>
			<li class="pull-right">
				<i><small>{{ 'created_at'|trans }} {{ entity.createdAt|date("d/m/Y - H:i:s") }}</small></i>
			</li>
		</ul>
		<ul class="list-inline">
			<li>
				<i><small>Version {{ currentVersion }}</small></i>
			</li>
			<li class="pull-right">
				<i><small>{{ 'updated_at'|trans }} {{ entity.updatedAt|date("d/m/Y - H:i:s") }}</small></i>
			</li>
		</ul>
    {% endblock %}

    {% block section_body %}
        
		{% for object in objects%}
			<div class="panel panel-default">
  				<div class="panel-body">
			
					<h4>{{ object.displayName }} {{ object.deletedAt is not null ? 'deleted'|trans }}</h4>

					<dl class="dl-horizontal">
						{% for property in object.properties %}

							{# Display not soft deleted properties and soft deleted properties which is not empty#}
							{% if 	(
										attribute(entity, property.technicalName) is not null 
											and 
										property.deletedAt is not null
									)
									or property.deletedAt is null
							%}

							    <dt>{{ property.displayName}}</dt>

							    <dd>
								    {% if property.fieldType.FormType == 'genemu_jquerydate' %}

								        {{ attribute(entity, property.technicalName)|date("d/m/Y") }}

								    {% elseif  property.fieldType.FormType == 'entity' %}

							    		{% set entityProperties = attribute(entity, property.technicalName) %}
							        	
							        	{% if property.isMultiple %}
									        {% for entityProperty in entityProperties %}
									            {{ entityProperty.displayName }}
									            {% if not loop.last %}
									                ,
									            {% endif %}
									        {% endfor %}
									    {% else %}
									    	{{ entityProperties.displayName }}
									    {% endif %}

								    {% elseif  property.fieldType.FormType == 'choice' %}

							        	{% if property.isMultiple %}
							        		{% set items = attribute(entity, property.technicalName) %}
									        {% for item in items %}
									            {{ item }}
									            {% if not loop.last %}
									                ,
									            {% endif %}
									        {% endfor %}
									    {% else %}
									    	{{ attribute(entity, property.technicalName) }}
									    {% endif %}

								    {% else %}

								        {{ attribute(entity, property.technicalName) }}
								        
								    {% endif %}
								    {{ property.deletedAt is not null ? 'deleted'|trans }}
							    </dd>

							{% endif %}
						{% endfor %}
					</dl>
				</div>
			</div>

		{% endfor %}

    {% endblock %}

{% endembed %}
