{% set panelClass = 'panel panel-default' %}

{% embed 'SLCoreBundle::sectionSkeleton.html.twig' with {
    'panelClass':panelClass,
    'object':object,
    'objects':objects,
    'entity':entity,
    'path':path
    } only
%}

    {% block section_heading %}
    	<div class="btn-group">   
			<a class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('front_edit', { 'id' : object.id, 'entity_id': entity.id }) }}" data-target="#">
		        <span class="fa fa-pencil"></span>  
		    </a>
		    <a class="btn btn-danger btn-xs" data-toggle="modal" href="{{ path('front_remove', { 'id' : object.id, 'entity_id': entity.id }) }}" data-target="#">
		        <span class="fa fa-times"></span>  
		    </a>
		</div>
    {% endblock %}

    {% block section_body %}
        <ul class="list-inline">
		    <li>
				<span class="fa {{ object.icon() }} fa-3x"></span> 
			</li>
			<li>
				<h3>{{ entity.displayName() }} <small>({{ path }})</small></h3>
			</li>
		</ul>
		{% for object in objects%}
			<hr>
			<h4>{{ object.displayName }}</h4>

			<dl class="dl-horizontal">
				{% for property in object.properties %}

				    <dt>{{ property.displayName}}</dt>

				    {% if property.fieldType.FormType == 'genemu_jquerydate' %}
				        <dd>{{ attribute(entity, property.technicalName)|date("d/m/Y") }}</dd>
				    {% elseif  property.fieldType.FormType == 'entity' %}
			    		{% set entityProperties = attribute(entity, property.technicalName) %}
				        <dd>
				        	{% if property.isMultiple %}
						        {% for entityProperty in entityProperties %}
						            {{ entityProperty.displayName }}
						            {% if not loop.last %}
						                ,
						            {% endif %}
						        {% endfor %}
						    {% else %}
						    	{{ entityProperties.displayName }}
						    {% endif %}
				        </dd>
				    {% elseif  property.fieldType.FormType == 'choice' %}
				        <dd>
				        	{% if property.isMultiple %}
				        		{% set items = attribute(entity, property.technicalName) %}
						        {% for item in items %}
						            {{ item }}
						            {% if not loop.last %}
						                ,
						            {% endif %}
						        {% endfor %}
						    {% else %}
						    	{{ attribute(entity, property.technicalName) }}
						    {% endif %}
				        </dd>
				    {% else %}
				        <dd>{{ attribute(entity, property.technicalName) }}</dd>
				    {% endif %}

				{% endfor %}
			</dl>

		{% endfor %}

    {% endblock %}

{% endembed %}
