{% set panelClass = 'panel panel-default' %}

{% embed 'SLCoreBundle::sectionSkeleton.html.twig' with {
    'panelClass':panelClass,
    'entityClass':entityClass,
    'entityClasses':entityClasses,
    'entity':entity,
    'path':path,
    'currentVersion':currentVersion,
    } only
%}

    {% block section_heading %}
		<ul class="list-inline">
		    <li>
				<span class="fa {{ entityClass.icon() }} fa-3x"></span> 
			</li>
			<li>
				<h3>{{ entity.displayName }}</h3>
			</li>
			<li class="btn-group pull-right">
				<a class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('front_edit', { 'entity_class_id' : entityClass.id, 'entity_id': entity.id }) }}" data-target="#">
		        <span class="fa fa-pencil"></span>  
			    </a>
			    <a class="btn btn-danger btn-xs" data-toggle="modal" href="{{ path('front_remove', { 'entity_class_id' : entityClass.id, 'entity_id': entity.id }) }}" data-target="#">
			        <span class="fa fa-times"></span>  
			    </a>
			    <a class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('front_edit_version', { 'entity_class_id' : entityClass.id, 'entity_id': entity.id }) }}" data-target="#">
			        <span class="fa fa-undo"></span>  
			    </a>
			</li>
		</ul>
		<ul class="list-inline">
			<li>
				<i><small>ID {{ entity.guid }}</small></i>
			</li>
			<li class="pull-right">
				<i><small>{{ 'created_at'|trans }} {{ entity.createdAt|date("d/m/Y - H:i:s") }}</small></i>
			</li>
		</ul>
		<ul class="list-inline">
			<li>
				<i><small>Version {{ currentVersion }}</small></i>
			</li>
			<li class="pull-right">
				<i><small>{{ 'updated_at'|trans }} {{ entity.updatedAt|date("d/m/Y - H:i:s") }}</small></i>
			</li>
		</ul>
    {% endblock %}

    {% block section_body %}
        
		{% include "SLCoreBundle:Front:showBody.html.twig" with {'entityClasses' : entityClasses, 'entity' : entity} only %} 

    {% endblock %}

{% endembed %}
