{% extends "SLCoreBundle::modalContent.html.twig" %}

{% block modal_title %}
	{{ 'front.version'|trans }}
{% endblock %}

{% block modal_body %}

	{{ form_start(form) }}

    	{{ form_errors(form) }}

    	{{ form_label(form.version) }}
	    {{ form_widget(form.version) }}
        {{ form_widget(form.submit) }}
	    
	{{ form_end(form) }}

	<hr/>

	{% for formatedLogEntry in formatedLogEntries%}

		{% set version = formatedLogEntry['version'] %}
		{% set loggedAt = formatedLogEntry['loggedAt']|date("d/m/Y - H:i:s") %}

		<div class="panel-group" id="collapse-version">
		  	<div class="panel panel-default">
			    <div class="panel-heading">
				    <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#collapse-version" href="#collapse{{ version }}">
				          	{{ 'version'|trans }} {{ version }} - <small>{{ loggedAt }}</small>
				        </a>
				    </h4>
			    </div>
			    <div id="collapse{{ version }}" class="panel-collapse collapse">
			      	<div class="panel-body">
			      		{% include "SLCoreBundle:Front:showBody.html.twig" with {'entityClasses' : entityClasses, 'entity' : formatedLogEntry['data']} only %} 
			      	</div>
			    </div>
			</div>
		</div>

	{% endfor %}

{% endblock %}

{% block modal_footer %}{% endblock %}