<div class="panel-group" id="search_result_panel">
  {% for entityClass in entityClasses %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#search_result_panel" href="#{{ entityClass.technicalName }}">
            <span class="fa {{ entityClass.icon }}"></span> 
            {{ entityClass.displayName }} {{ entityClass.deletedAt is not null ? 'deleted.title'|trans }}
          </a>
        </h4>
      </div>
      <div id="{{ entityClass.technicalName }}" class="panel-collapse collapse">
        <div class="panel-body">
          <div id="jstree_{{ entityClass.technicalName }}" to_refresh="0"></div>
        </div>
      </div>
    </div>

  {% endfor %}
</div>