{% for entityClass in entityClasses%}
	<div class="panel panel-default">
		<div class="panel-body">
	
			<h4>{{ entityClass.displayName }} {{ entityClass.deletedAt is not null ? 'deleted.title'|trans }}</h4>

			<dl class="dl-horizontal">
				{% for property in entityClass.properties %}

					{# Display not soft deleted properties and soft deleted properties which is not empty#}
					{% if 	(
								attribute(entity, property.technicalName) is not null 
									and 
								property.deletedAt is not null
							)
							or property.deletedAt is null
					%}

					    <dt>{{ property.displayName}}</dt>

					    <dd>
						    {% if property.fieldType.FormType == 'genemu_jquerydate' %}

						        {{ attribute(entity, property.technicalName)|date("d/m/Y") }}

						    {% elseif  property.fieldType.FormType == 'entity' %}

					    		{% set propertiesEntity = attribute(entity, property.technicalName) %}
					        	
					        	{% if property.isMultiple %}
							        {% for propertyEntity in propertiesEntity %}
							            {{ propertyEntity.displayName }}
							            {% if not loop.last %}
							                ,
							            {% endif %}
							        {% endfor %}
							    {% else %}
							    	{% if propertiesEntity is not null %}
							    		{{ propertiesEntity.displayName }}
							    	{% endif %}
							    {% endif %}

						    {% elseif  property.fieldType.FormType == 'choice' %}

					        	{% if property.isMultiple %}
					        		{% set items = attribute(entity, property.technicalName) %}
							        {% for item in items %}
							            {{ item }}
							            {% if not loop.last %}
							                ,
							            {% endif %}
							        {% endfor %}
							    {% else %}
							    	{{ attribute(entity, property.technicalName) }}
							    {% endif %}
							{% elseif  property.fieldType.FormType == 'file' %}

						    	{% set document = attribute(entity, property.technicalName) %}
						    	{% if document is not null %}
						    		{{ document.displayName }}
						    	{% endif %}
						    {% else %}

						        {{ attribute(entity, property.technicalName) }}
						        
						    {% endif %}
						    {{ property.deletedAt is not null ? 'deleted.title'|trans }}
					    </dd>

					{% endif %}
				{% endfor %}
			</dl>
		</div>
	</div>

{% endfor %}

    