{# PROPERTIES INFORMATIONS #}
{% set panelClass = 'panel panel-default' %}

{% embed 'SLCoreBundle::sectionSkeleton.html.twig' with {
    'panelClass':panelClass,
    'entityClass':entityClass
    } only
%}

    {% block section_heading %}
        <ul class="list-inline">
            <li>
                <div class="btn-group"> 
                    <button title="{{ 'entity_class.select.icon.title'|trans }}" class="btn btn-default btn-xs" role="iconpicker" data-iconset="fontawesome" data-icon="{{ entityClass.icon }}" data-rows="6" data-cols="6" data-placement="bottom" ajax-action={{ path('entity_class_update_icon', { 'entity_class_id': entityClass.id }) }}>
                    </button>
                    <a title="{{ 'entity_class.sub.add.title'|trans }}" class="btn btn-default btn-xs" data-toggle="modal" data-target="#" href="{{ path('entity_class_new', { 'entity_class_id' : entityClass.id }) }}">
                        <span class="fa fa-plus"></span>  
                    </a>  
                    <a title="{{ 'entity_class.update.title'|trans }}" class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('entity_class_edit', { 'entity_class_id': entityClass.id }) }}" data-target="#">
                        <span class="fa fa-pencil"></span>  
                    </a>
                    <a title="{{ 'entity_class.delete.title'|trans }}" class="btn btn-danger btn-xs" data-toggle="modal" href="{{ path('entity_class_remove', { 'entity_class_id': entityClass.id }) }}" data-target="#">
                        <span class="fa fa-times"></span>  
                    </a>
                    <a title="{{ 'entity_class.calculated_name.update.title'|trans }}" class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('entity_class_edit_calculated_name', { 'entity_class_id': entityClass.id }) }}" data-target="#">
                        <span class="fa fa-barcode"></span>  
                    </a>
                </div>
            </li>
        </ul>
    {% endblock %}

    {% block section_body %}
        <div id="property-content">
            {% include "SLCoreBundle:EntityClass/Property:table.html.twig" with {'entityClass' : entityClass} only %} 
        </div>
    {% endblock %}

{% endembed %}




