{% extends '::base.html.twig' %}

{% block header %}
	{{ parent() }}

	{# Menu section #}
	{% block top_menu %}
	    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with {fixedTop: true, staticTop: false, inverse: true}  %}
	        {% block brand %}
	            <a class="navbar-brand" href="#">{{ 'main_application.name'|trans }}</a>
	        {% endblock %}
	        {% block menu %}
	            {{ mopa_bootstrap_menu('SLCoreBundle:Builder:frontMenu') }}
	        {% endblock %}
	    {% endembed %}
	{% endblock %}
{% endblock %}


{% block nav %}
	{{ parent() }}
	{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with {fixedTop: false, staticTop: false, inverse: false}  %}
        {% block menu %}
        	<div class="col-lg-4">
            	{{ mopa_bootstrap_menu('SLCoreBundle:Builder:lateralFrontEndMenu') }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block sections %}
	{{ parent() }}
	<div class="row">
        <!--Search section-->
        <section class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        {% block search_panel_title %}{% endblock %}
                    </h1>
                </div>
                <div class="panel-body">
                    {% block search_panel_body %}{% endblock %}
                </div>
            </div>
        </section>

        <!--Tool section-->
        <section class="col-lg-6">
            <div id="features_panel_body"> </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
	{{ parent() }}
	{{ 'frontEnd'|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'SLCoreBundle:FrontEnd:FrontEnd.js.twig' only %} 
{% endblock %}
