{% extends '::base.html.twig' %}

{% block header %}
	{{ parent() }}

	{# Menu section #}
	{% block top_menu %}
	    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with {fixedTop: true, staticTop: false, inverse: true}  %}
	        {% block brand %}
	            <a class="navbar-brand" href="#">{{ 'main_application.name'|trans }}</a>
	        {% endblock %}
	        {% block menu %}
	            {{ mopa_bootstrap_menu('SLCoreBundle:Builder:mainFrontMenu') }}
	        {% endblock %}
	    {% endembed %}
	{% endblock %}
{% endblock %}


{% block nav %}
	{{ parent() }}

    <div class="panel-group" id="accordion">
	  	<div class="panel panel-default">
	    	<div class="panel-heading">
	      		<h4 class="panel-title">
	        		<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          			{{ 'menu.document.new'|trans }}
	        		</a>
	      		</h4>
	    	</div>
	    	<div id="collapseOne" class="panel-collapse collapse in">
	      		<div class="panel-body">
	        		 {{ mopa_bootstrap_menu('SLCoreBundle:Builder:newDocumentFrontMenu') }}
	      		</div>
	    	</div>
	  	</div>
	  	<div class="panel panel-default">
	    	<div class="panel-heading">
	      		<h4 class="panel-title">
	        		<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          			{{ 'menu.object.new'|trans }}
	        		</a>
	      		</h4>
	    	</div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      	<div class="panel-body">
		        	{{ mopa_bootstrap_menu('SLCoreBundle:Builder:newObjectFrontMenu') }}
		      	</div>
		    </div>
		 </div>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
	{{ 'frontEnd'|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'SLCoreBundle:FrontEnd:FrontEnd.js.twig' only %} 
{% endblock %}
