{% extends 'SLCoreBundle:FrontEnd:frontEnd.html.twig' %}

{% block head_title %}
    {{ parent() }} - {{ 'front_end.title'|trans }}
{% endblock %}

{% block sections %}
	{{ parent() }}

	<div class="row">
        <!--Search section-->
        <section class="col-lg-7">
			{% set panelClass = 'panel panel-default' %}

			{% embed 'SLCoreBundle::sectionSkeleton.html.twig' with {
			    'panelClass':panelClass,
			    'form':form
			    } only
			%}

			    {% block section_heading %}
				    {{ form_start(form) }}

				    	{{ form_errors(form) }}

					    {{ form_widget(form.searchField) }}
				        {{ form_widget(form.submit) }}
					    
					{{ form_end(form) }}
			    {% endblock %}

			    {% block section_body %}
			    	<div id="search_result"></div>
			    {% endblock %}

			{% endembed %}
		</section>

		<!--Tool section-->
        <section class="col-lg-5">
        	<div class="panel-full-screen panel panel panel-default">
  				<div class="panel-body">
            		<div id="features_panel_body"> </div>
            	</div>
            </div>
        </section>
	</div>
{% endblock %}
