{% extends 'SLCoreBundle:FrontEnd:frontEnd.html.twig' %}

{% block head_title %}
    {{ parent() }} - {{ 'front_end.title'|trans }}
{% endblock %}

{% block search_panel_title %}
	{{ parent() }}

    <div class="row">
	    {{ form_start(form) }}

	    	{{ form_errors(form) }}

		    {{ form_widget(form.searchField) }}
	        {{ form_widget(form.submit) }}
		    
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block search_panel_body %}
	<div class="row">
		<div id="jstree"></div>
	</div>
{% endblock %}
