{% extends "SLCoreBundle::modalContent.html.twig" %}

{% block modal_title %}
	{{ 'object.name.designer'|trans }}
{% endblock %}

{% block modal_body %}
	<div id="object_name_designer_button" class="btn-group">
    {% if object.parentObject is not null %}
      <div class="well">
        {% for property in object.parentObject.properties %}
          {% if property.isEnabled %}
            <button title="{{ property.technicalName }}" type="button" class="btn btn-default">{{ property.displayName }}</button>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="well">
      {% for property in object.properties %}
  			{% if property.isEnabled %}
  				<button title="{{ property.technicalName }}" type="button" class="btn btn-default">{{ property.displayName }}</button>
  			{% endif %}
  		{% endfor %}
    </div>
	</div>

	{{ form(form) }}

{% endblock %}

{% block modal_footer %}
	
{% endblock %}