{# PROPERTIES INFORMATIONS #}
{% set panelClass = 'panel panel-default' %}

{% embed 'SLCoreBundle::sectionSkeleton.html.twig' with {
    'panelClass':panelClass,
    'object':object
    } only
%}

    {% block section_heading %}
        <ul class="list-inline">
            <li>
                <div class="btn-group"> 
                    <button title="{{ 'object.choose.icon'|trans }}" class="btn btn-default btn-xs" role="iconpicker" data-iconset="fontawesome" data-icon="{{ object.icon }}" data-rows="6" data-cols="6" data-placement="bottom" ajax-action={{ path('object_update_icon', { 'id': object.id }) }}>
                    </button>
                    <a title="{{ 'object.add'|trans }}" class="btn btn-default btn-xs" data-toggle="modal" data-target="#" href="{{ path('object_new', { 'id' : object.id }) }}">
                        <span class="fa fa-plus"></span>  
                    </a>  
                    <a class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('object_edit', { 'id': object.id }) }}" data-target="#">
                        <span class="fa fa-pencil"></span>  
                    </a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" href="{{ path('object_remove', { 'id': object.id }) }}" data-target="#">
                        <span class="fa fa-times"></span>  
                    </a>
                    <a class="btn btn-default btn-xs" data-toggle="modal" href="{{ path('object_edit_calculated_name', { 'id': object.id }) }}" data-target="#">
                        <span class="fa fa-barcode"></span>  
                    </a>
                </div>
            </li>
           
        </ul>
    {% endblock %}

    {% block section_body %}

        <div id="property_content">
            {% include "SLCoreBundle:Property:propertyTable.html.twig" with {'object' : object} only %} 
        </div>
    {% endblock %}

{% endembed %}




