{% if object.isDocument %}
    {% set isDocument = 1 %}
{% else %}
    {% set isDocument = 0 %}
{% endif %}

{% if object.childrenObject|length == 0 %}
    <div class="text-center">
        <i>{% if object.isDocument %}
            {{ 'subDocument.create.description'|trans }}
        {% else %}
            {{ 'subObject.create.description'|trans }}
        {% endif %}</i>
        <br/>
        <a title="{{ 'subobject.add'|trans }}" class="btn btn-default btn-xs" data-toggle="modal" data-target="#" href="{{ path('object_new', { 'id': object.id, 'isDocument': isDocument }) }}">
            <span class="fa fa-plus"></span>  
        </a>   
    </div>
{% else %}
    <table class="table table-striped table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th style="width:60px;">
                    <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#" href="{{ path('object_new', { 'id': object.id, 'isDocument': isDocument }) }}">
                    <span class="glyphicon glyphicon-plus"></span>  
                    </a>       
                </th>
                <th>{{ 'displayName'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for child in object.childrenObject %}
                <tr {% if not(child.isEnabled) %}class="danger"{% endif %}>
                    <td>
                        <span class="fa {{ child.icon }}"></span>  
                    </td>
                    <td>
                        {{ child.displayName }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}